package templates

import "github.com/thesis-bkn/hfsd/templates/components"

templ InferenceView() {
	@base() {
		@components.NavBar(false)
		<div class="flex mx-8">
			<div class="flex flex-start">
				@components.SearchBox()
			</div>
		</div>
	}
}
